<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/idox-fav.ico" type="image/x-icon">
    <title>iDox</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=folder_open"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="old-logo-wrapper">
    <img src="/images/idox-logotipo1.webp" title="iDox - PGE" class="old-logo-img" />
</div>
<div class="container">
    <div class="left-panel" ondragover="event.preventDefault()" ondrop="handleDrop(event)">
        <div class="header-upload-wrapper">
            <label for="file-upload" class="upload-box-small" id="drop-zone"
                   title="Clique para selecionar ou arraste um arquivo">
                <span class="material-symbols-outlined">folder_open</span>
                <span class="upload-text">Carregar Áudio</span>
                <input type="file" id="file-upload" style="display: none;"/>
            </label>
        </div>

        <div id="file-info" class="file-info" style="display: none;">
            <span class="material-icons">insert_drive_file</span>
            <span id="file-name">audio_file_name</span>
            <button class="remove-btn" onclick="removeFile()">
                <span class="material-icons">close</span>
            </button>
        </div>

        <div id="badge-container" class="badge-container" style="display: none;">
            <button type="button" class="badge" data-badge="badge1">Buscar Normas</button>
            <button type="button" class="badge" data-badge="badge2">Jurisprudência</button>
            <button type="button" class="badge" data-badge="badge3">Gerar Minuta</button>
        </div>

        <div id="file-error" class="file-error"></div>

        <div class="bottom-btn">
            <div class="switch-wrapper">
                <label class="switch-label">
                    <input type="checkbox" id="use-ai-switch" class="switch-input">
                    <span class="switch-slider"></span>Criar Resumo com IA
                </label>
            </div>
            <button id="upload-btn" class="upload-button" disabled>
                Analisar Áudio
            </button>
        </div>
    </div>

    <div class="right-panel">

        <div class="about-button-wrapper">
            <button class="about-button" onclick="toggleAboutCard()">
                <span class="material-icons">info</span>
            </button>
            <div id="about-card" class="about-card">
                <strong>iDox</strong> v1.0.0<br>
                Saiba mais: <a href="https://github.com/RamirJunior/idox-ia-project" target="_blank">iDox</a>
                <hr>
                <strong>Ollama</strong> v3.1<br>
                Saiba mais: <a href="https://github.com/ollama/ollama" target="_blank">Ollama</a><br>
                <hr>
                <strong>Whisper Open AI</strong> v1.6.2<br>
                Saiba mais: <a href="https://github.com/openai/whisper" target="_blank">Whisper</a><br>
            </div>
        </div>

        <div class="title-row">
            <div id="loader" class="loader" style="display: none;"></div>
            <h3 id="summary-title">Resumo do áudio</h3>
        </div>

        <div class="summary-box" id="summary-box">
            <div class="summary-actions">
                <button id="copy-small-btn" class="small-action-btn" title="Copiar">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
            <div id="summary-content"></div>
        </div>


        <div class="button-row">
            <button id="download-btn" class="action-button download-btn" disabled>
                <span class="material-icons">text_snippet</span>
                Baixar Transcrição em TXT
            </button>
        </div>
    </div>
</div>

<div id="toast" class="toast">Texto Copiado</div>

<script src="/js/script.js"></script>

<footer class="footer-note">
    Whisper e Ollama podem cometer erros. Revise as informações ao copiar/baixar dados gerados.
</footer>

</body>
</html>